 @model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("Create Customer", "New", "Customers", null, new { @class = "btn btn-primary", @role = "button" })
@foreach (var customer in Model)
{
    <ul>
        @if (customer.MembershipType != null)
        {
            <li>@customer.MembershipType.DiscountRate%</li>
        }
        <li>@Html.ActionLink(customer.Name, "View", "Customers", new { id = customer.Id }, null)</li>

        @*<li>@customer.Name</li>*@
    </ul>
}

