@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@foreach (var customer in Model.Customers)
{
<ul>
    @Html.ActionLink(@customer.Name, "View","Customers",new { id = customer.Id },null)
    @*<li>@customer.Name</li>*@
</ul>
}

